<div id="quote-box">
  <main class="main">
    <p id="text" *ngIf="quote">"{{ quote.quote }}"</p>

    <p *ngIf="errorMsg" id="error">{{ errorMsg }}</p>

    <img src="../../assets/loader.gif" *ngIf="isLoading" />

    <p id="author" *ngIf="quote">-{{ quote.author }}</p>

    <div id="buttons-flex" *ngIf="quote">
      <a
        href="https://twitter.com/intent/tweet?hastag=quotes&text={{
          quote.quote
        }}"
        target="_blank"
        id="tweet-quote"
        >Tweet</a
      >

      <button type="button" id="new-quote" (click)="newQuote()">
        New Quote
      </button>
    </div>
  </main>
</div>
